* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#scores-container {
  display: flex;
  justify-content: space-between;
  width: 35rem;
}

button {
  padding: 0.2rem 1rem;
}

#grid {
  display: grid;
  background: black;
}

.wall {
  /* background: #7DFDFE; */
  background: blue;
}

.gate {
  background: rgb(254, 207, 0);
}

.food {
  background-image: url("../images/food.png");
  background-size: 15%;
  background-repeat: no-repeat;
  background-position: center;
}

.big-food {
  background-size: 60%;
}

.pac-man, .ghost, .lives {
  background-size: cover;
}

.pac-man {
  background-image: url("../images/pac-man.gif");
}

.cyan{
  background-image: url("../images/cyan.gif");
}

.orange{
  background-image: url("../images/orange.gif");
}

.red{
  background-image: url("../images/red.gif");
}

.pink{
  background-image: url("../images/pink.gif");
}

.frightened {
  background-image: url("../images/frightened.gif");
}

button {
  margin-top: 1rem;
}

#lives-container {
  display: flex;
  align-items: center;
}

.lives {
  background-image: url("../images/lives.png");
  height: 1rem;
  width: 1rem;
  margin: 0 0.2rem;
}

#middle-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

#leaderboard, #instructions {
  border: 1px solid red;
}

form {
  display: flex;
  flex-direction: column;
  background: grey;
}

h1 {
  font-family: 'Monoton', cursive;
  font-size: 3rem;
  font-weight: lighter;
  /* color: #FFFF00; */
}